<div class="container">
    <h1>About us</h1>
    <p>Sathi is a Car Rental Service which is specialised to help people to list their cars when they are not using it and also to rent a car when you need it for a time being.</p>

    <p>If you have any query please us by clicking the link</p>
    <a href="/contact">Contact us</a>
    <small>All rights reserved. Copyright &copy 2020</small>
</div>